<!DOCTYPE html>
<html>
<title>User Management</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Welcome</h2>
  <p>Text XYZ</p>
  
</div>

<div class="w3-bar w3-black">
  <button class="w3-bar-item w3-button" onclick="opentab('Register')">Register</button>
  <button class="w3-bar-item w3-button" onclick="opentab('Login')">Login</button>
  <button class="w3-bar-item w3-button" onclick="opentab('Admin')">Admin</button>
</div>

<div id="Register" class="w3-container w3-display-container city">
  <span onclick="this.parentElement.style.display='none'"
  class="w3-button w3-large w3-display-topright">&times;</span>
  <h2>Register</h2>
  <p>Please fill the form</p>
</div>

<div id="Login" class="w3-container w3-display-container city" style="display:none">
  <span onclick="this.parentElement.style.display='none'"
  class="w3-button w3-large w3-display-topright">&times;</span>
  <h2>Login</h2>
  <p>Enter your Username and Password</p> 
</div>

<div id="Admin" class="w3-container w3-display-container city" style="display:none" >
  <span onclick="this.parentElement.style.display='none'"
  class="w3-button w3-large w3-display-topright">&times;</span>
  <a href="login.html">Click Here</a>
</div>

<script>
function opentab(cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  document.getElementById(cityName).style.display = "block";  
}
</script>

</body>
</html>
